/* Adicionar aqui toda a estilização criada para sua aplicação. */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Barlow", 'Courier New', Courier, monospace;
}

body {
    background-color: black;
    margin: 0;

}

.header {
    border-bottom: solid aqua 2px;
}


.header .container .titulo {
    color: aqua;
}

.container .navbar {
    color: yellow;
    list-style-type: none;
    display: flex;
    width: 550px;
    justify-content: space-around;
}

.navbar .agora{
    font-weight: 900;
    border-bottom: yellow solid 2px;

}

.navbar a {
    color: yellow;
    text-decoration: none;
    
}

.container{
    display: flex;
    margin: auto;
    width: 80%;
}

.header  .container{
    justify-content: space-between;
    align-items: center;
}

.banner{
  background-image: url(../assets/imgs/bg-jelly-fish-para-home.png);
  height: 500px;
  color: white;
  
}

.banner .container{
    align-items: center;
    width: 500px;
    height: 100%;
}

.banner .container p{
    font-size: 50px;
    width: 450px;
    
}

.banner .container p span{
    font-weight: 800;
}

.social {
    background: white;
}

.box img{
    width: 100px;
    
}
.boxes{
    display: flex;
    padding: 20px 0px;
    justify-content: space-evenly;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}
.box p{
    text-align: center;
}

.social .container{
    justify-content: space-evenly;
}

.box h4{
    color: crimson;
    font-weight: 900;
}

.footer{
    background: darkcyan;

}

.footer .container{
    justify-content: center;
    color: white;
    align-items: center;
    height: 200px;
}

.login{
    background-image: url(../assets/imgs/bg-jelly-fish-para_outras_pags.png);
    height: 800px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.login .container{
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;
    width: 580px;
   
}

.login .card-login{
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background: lightgray;
    display: flex;
    flex-direction: column;     
    align-items: center;
    justify-content: center;
    color: rgb(207, 95, 113);
}



 .login .card-login .formulario{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  

}

.login .card-login .formulario .campo{
    display: flex;
    flex-direction: column;
    width: 85%;
    font-family: "Arial";
   
}
.login .card-login .formulario .campo input{
    border: 2px solid rgb(9, 207, 207);
    border-radius: 5px;
    text-align: center;
    height: 25px;




}
.login .card-login .botao {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 30px;
        background-color: rgb(219, 44, 73);
        color: white;
        margin: 20px;
        border-radius: 5px;

}
.login .card-login button {
    display: flex;

}

.login .card-cadastro{
    border:300px;
    width: 500px;
    border-radius: 10px;
    height: 420px;
    background: lightgray;
    display: flex;
    flex-direction: row;     
    align-items: center ;
    justify-content: left;
    color: rgb(207, 95, 113);
    flex-direction: column;
    padding-top: 10px;


}

.login .card-cadastro .formulario{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;    
    margin: 10px;

    
}

.login .card-cadastro .formulario .campo{
    display: flex;
    flex-direction: column;
    width: 85%;
}

.login .card-cadastro .formulario .campo input{
     border: 2px solid rgb(9, 207, 207);
    border-radius: 5px;
    text-align: center;
    height: 25px;
}

.login .card-cadastro .botao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    background-color: rgb(219, 44, 73);
    color: white;
    margin: 20px;
    border-radius: 5px;
    font-size: 15px;

}

.login .container .card-login h2{
    font-size: 30px;
    margin-bottom: 0px;
}

.login .container .card-cadastro h2{
    font-size: 30px;
    margin-bottom: 0px;
}
